
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(249,249,249)
}

.left-section{
    
    display:flex;
    align-items: center;
    flex-shrink: 0;

}
.menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 22px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
 
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;

}
.search-bar{
    flex:1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width:0;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-button{
    height: 40px;
    width:66px;
    background-color: rgb(247,247,247);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
}
.voice-button{
    height:40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border:none;
    background-color: rgb(248,248,248);

}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.voice-search{
    height: 24px;
    margin-top: 4px;
}


.right-section{
   
    width:180px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;

}

.upload-icon{
    height: 24px;
   
}
.youtube-apps{
    height: 24px;
}
.notifications{
    height: 24px;
}
.profile-pic{
    height: 32px;
    border-radius: 16px;
}